<div class="page-box">
    <div class="container">
        <div class="row header-task">
            <div class="col-12 col-md-6 ">
                <h4 class="title">Tarefas Concluidas</h4>
            </div>
            <div class="col-12 col-md-6 text-right">
                <div class="option-new option-task" (click)="novaTarefa()">
                    <i class="fa fa-plus"></i> Nova Tarefa
                </div>
            </div>

            <div class="col-12">
                <div class="collapse" id="nova-tarefa">
                    <app-nova-tarefa
                    *ngIf="isCollapseTarefa"
                    [status]="status"
                    [tarefaEdicao]="tarefaEdicao" 
                    (salvou)="novaTarefa(); getTarefas()">
                    </app-nova-tarefa>
                </div>
            </div>
        </div>
        <div *ngFor="let tarefa of tarefas">
            <app-tarefa [tarefa]="tarefa" 
            (editar)="editarTarefa($event)"
            (deletar)="deletarTarefa($event)"
            (status)="updateStatus($event)"
            >
            </app-tarefa>
        </div>
    </div>
</div>