<div class="row tarefa">
    <div class="col-12 col-md-9">
        <div class="row">
            <div class="col-12">
                {{tarefa.descricao}}
            </div>
            <div class="col-12 prazo-expirado">
                <i class="fa fa-clock"></i> {{tarefa.prazo}}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3 text-right">
        <div class="btn-group">
            <button class="btn btn-sm btn-success" (click)="toggleStatus(tarefa.id)"
            *ngIf="tarefa.status == 'PENDENTE'">
                <i class="fa fa-check"></i>
            </button>
            <button class="btn btn-sm btn-warning" (click)="toggleStatus(tarefa.id)"
            *ngIf="tarefa.status == 'CONCLUIDO'">
                <i class="fa fa-clock" style="color: white;" ></i>
            </button>
            <button class="btn btn-sm btn-info" (click)="editarTarefa(tarefa)">
                <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" (click)="deletarTarefa(tarefa)">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
</div>