<form class="nova-tarefa form-inline">
    <div class="row">
        <div class="col-12">
            <textarea id="nova-tarefa-area" style="width: 100%;" cols="30" rows="4"
                placeholder="Escreva sua tarefa aqui"></textarea>
        </div>
        <div class="col-12 col-md-5">
            <div class="form-group">
            <label class="label-inline" for="prazo">Prazo: </label>
                <input type="date" class="form-control" id="prazo">
            </div>
        </div>
        <div class="col-12 col-md-7 text-right">
            <div class="btn-group">
                <button class="btn  btn-sm btn-secondary" data-toggle="collapse" data-target="#nova-tarefa">
                    Cancelar
                </button>
                <button class="btn  btn-sm btn-primary">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</form>