<div class="page-box">
    <div class="container">
        <div class="row header-task">
            <div class="col-12 col-md-6">
                <div class="d-flex">
                    <div class="option-task option-concluir">
                        <i class="fa fa-check"></i> Concluir
                    </div>
                    <div class="option-task option-apagar">
                        <i class="fa fa-trash"></i> Apagar
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 text-right">
                <div class="option-new option-task" data-toggle="collapse" data-target="#nova-tarefa">
                    <i class="fa fa-plus"></i> Nova Tarefa
                </div>
            </div>

            <div class="col-12">
                <div class="collapse" id="nova-tarefa">
                    <app-nova-tarefa></app-nova-tarefa>
                </div>
            </div>
        </div>
           <app-tarefa></app-tarefa>
    </div>
</div>